source https://api.nuget.org/v3/index.json

nuget FAKE

nuget FSharp.Core ~> 4.2 restriction: >= net452
nuget FsUnit 3.0.0 restriction: >= net452
nuget NUnit 3.6.0 restriction: >= net452
nuget NUnit.Console 3.7.0 restriction: >= net452
